
<div class="header">
            <div class="box">
                <div class="column1">
                    <p><i>P H O T O G R A P H Y</i></p>
                </div>
                <div class="column2">
                    <a routerLink="home">Portfolio</a>
                    <a routerLink='books'>Books</a>
                    <a routerLink="blog">Blog</a>
                    <a href="">Client Album</a>
                    <a routerLink="contact">Contact</a>
                </div>
                
            </div>
</div>
<div class="clr"></div>
<router-outlet></router-outlet>