<h1>RATE OF INTEREST CALCULATOR</h1>

<!-- <div class="form1">
    <form>
        <label>Principle:</label><input placeholder="principle" #principle><br><br>
        <label>Month:</label><input placeholder="Month" #month><br><br>
        <label>Rate of interest:</label><input placeholder="ROI" #roi><br><br>
        <label>loan:</label>
        <select name="loan" #loan (change)="change(loan.value)">
            <option vlaue="0">--select--</option>
            <option value="9">vehicle loan</option>
            <option value="12">home loan</option>
            <option value="14">personal loan</option>
            <option value="16">education loan</option>
          </select>
          <br>
          <br>
          <input type="button" value="submit" >
    </form>
</div> -->
