<div class="all">
    <h2> <i>P o r t f o l i o</i></h2>
<div class="totalport">
    <div class="port1">
        <h3>EDITORIAL</h3>
        <a routerLink="/editorial"> View More</a>
        <img src="https://static.wixstatic.com/media/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.jpg/v1/fill/w_413,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_2ef1fc57fdd849a19df076e8fb6e036f~mv2_d_2681_2546_s_4_2.webp" class="img1">
   </div>
   <div class="port2">
    <h3>FOOD AND SERVE</h3>
    <a routerLink="foodandserve">View More</a>
         <img src="https://static.wixstatic.com/media/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.jpg/v1/fill/w_402,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_0865ef003a1740f9b703014d3b57e3fa~mv2_d_4928_3264_s_4_2.webp" class="img2">
   </div>
   <div class="port3">
    <h3>BAKED GOODS</h3>
    <a routerLink="baked goods">View More</a>
        <img src="https://static.wixstatic.com/media/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.jpg/v1/fill/w_403,h_869,al_c,q_80,usm_0.66_1.00_0.01/f61af8_0ecca2bc73f444c98e8de071bb2ce81c~mv2_d_1927_1272_s_2.webp" class="img3">
    </div>
</div>
</div>
<router-outlet></router-outlet>
